body {
    margin: 0px;
}


/* header */
.header {
    background: white;
    height: 64px;
    padding-top: 20px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #000000;
}
.header .header-title {
    line-height: 44px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.header .header-title#common-title {
    font-size: 20px;
}
.header .header-title form {
    width: 200px;
}
.header .header-title input {
    height: 30px;
    line-height: 28px;
    padding: 0;
    border: 1px solid #000000;
    padding-left: 8px;
    border-radius: 15px;
    width: 160px;
    margin-right: 10px;
}
.header .header-title input:focus {
    outline: none;
}
.header .header-left {
    line-height: 44px;
    width: 44px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    text-align: center;
}
.header .header-left .icon {
    height: 20px;
}
.header .header-right {
    line-height: 44px;
    width: 44px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    text-align: center;
}


/* footer */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    padding: 0;
    height: 49px;
}
.footer .footer-button {
    display: block;
    width: 20%;
    margin: 0;
    float: left;
    height: 100%;
    line-height: 49px;
    text-align: center;
    border-top: 1px solid #000000;
}
/* bootom bar selected item */
.footer .footer-button.selected {
    background: #bababa;
}
.footer .footer-button img{
    height: 100%;
}


.main-content {
    padding-top: 64px;
    padding-bottom: 49px;
}

/* 1A */
.main-content .content-choose {
    height: 30px;
}

.main-content .content-choose .selected {
    background: #bababa;
}

.main-content .content-choose #jingxuan {
    text-align: center;
    width: 50%;
    line-height: 30px;
    float: left;
}

.main-content .content-choose #guanzhu {
    text-align: center;
    width: 50%;
    line-height: 30px;
    float: left;
}


.main-content .posts .post .status {
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #000000;
}

.main-content .posts .post .status .location {
    text-align: left;
    float: left;
    width: 33%;
}

.main-content .posts .post .status .poster {
    text-align: center;
    float: left;
    width: 33%;
}

.main-content .posts .post .status .time {
    text-align: right;
    float: left;
    width: 33%;
}

.main-content .posts .post .post-content {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-content .posts .post .post-content .post-img {
    height: 200px;
}

.main-content .posts .post .post-content .post-text {
    text-align: left;
}

.main-content .posts .post .post-content .post-tag {
    color: blue;
}

.main-content .posts .post .detail {
    width: 100%;
    height: 20px;
    background-color: white;
}

.main-content .posts .post .detail .detail-button {
    float: left;
}
.main-content .posts .post .detail .detail-like {
    float: right;
}

.main-content .posts .post .detail:after {
    clear: both;
}

.main-content .posts .post .detail .share {
    width: 30px;
    height: 20px;
    float: left;
}

.main-content .posts .post .detail .share .icon {
    margin-left: 7.5px;
    margin-top: 2.5px;
    height: 15px;
}

.main-content .posts .post .detail .comment {
    width: 60px;
    height: 20px;
    float: left;
}

.main-content .posts .post .detail .comment .ctext {
    margin-top: 3px;
    text-align: right;
    font-size: 12px;
    color: gray;
    width: 20px;
    height: 20px;
    float: left;
}

.main-content .posts .post .detail .comment .cicon {
    width: 20px;
    height: 20px;
    float: left;
}

.main-content .posts .post .detail .comment .cicon .icon {
    margin-left: 2.5px;
    margin-top: 2.5px;
    height: 15px;
}

.main-content .posts .post .detail .like {
    width: 80px;
    height: 100%;
    float: right;
}

.main-content .posts .post .detail .like .ltext {
    margin-top: 3px;
    text-align: right;
    font-size: 12px;
    color: gray;
    width: 50px;
    height: 20px;
    float: left;
}

.main-content .posts .post .detail .like .licon {
    width: 30px;
    height: 20px;
    float: left;
}

.main-content .posts .post .detail .like .licon .icon {
    margin-left: 7.5px;
    margin-top: 2.5px;
    height: 15px;
}

.main-content .share-pannel {
    background: #bababa;
}



/* 1C */
.main-content#add {
    background: url("../img/pages/add/bg.png")
}
.main-content .add-button {
    height: 140px;
    width: 140px;
    text-align: center;
    margin: 0 auto;
}
.main-content .add-button#add-dapei {
    margin-top: 150px;
}
.main-content .add-button#add-guandian {
    margin-top: 40px;
}
.main-content .add-button img {
    height: 140px;
}


/* 1D */
.main-content .tag-bar {
    height: 30px;
}

.main-content .tag-bar .tag {
    display: block;
    width: 14%;
    margin: 0;
    float: left;
    height: 100%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;

}

.main-content .shop-topics .shop-topic .topic-img {
    width: 100%;
}

/* 1E */
.main-content .name-pad {

}

.main-content .short-detail {

}

.main-content .short-detail .avatar {
    height: 50px;
    width: 50px;
    float: left;
    background: white;
}

.main-content .short-detail .detail-info {
    height: 50px;
    background: green;
}
.main-content .short-detail .detail-info .info-item {
    float: left;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
}

.main-content .dashboard {

}

.main-content .dashboard .group1 {
    margin-top: 10px;
    border-top: 1px solid #000000;
}
.main-content .dashboard .group2 {
    margin-top: 10px;
    border-top: 1px solid #000000;
}
.main-content .dashboard .group3 {
    margin-top: 10px;
    border-top: 1px solid #000000;
}
.main-content .dashboard .group4 {
    margin-top: 10px;
    border-top: 1px solid #000000;
    margin-bottom: 20px;
}

.main-content .dashboard .dashboard-item {
    background: #ebebeb;
    border-bottom: 1px solid #000000;
    height: 30px;
    line-height: 30px;
}





