body {
    margin: 0px;
}


/* header */
.header {
    background: white;
    height: 64px;
    padding-top: 20px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #efefef;
    z-index: 100;
}
.header .header-title {
    line-height: 44px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.header .header-title#common-title {
    font-size: 23px;
}
.header .header-title form {
    width: 200px;
}
.header .header-title input {
    height: 30px;
    line-height: 28px;
    padding: 0;
    border: 1px solid #000000;
    padding-left: 8px;
    border-radius: 15px;
    width: 160px;
    margin-right: 10px;
}
.header .header-title input:focus {
    outline: none;
}
.header .header-left {
    line-height: 44px;
    width: 44px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    text-align: center;
}
.header .header-left .icon {
    height: 20px;
}
.header .header-right {
    line-height: 44px;
    width: 44px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    text-align: center;
}


/* footer */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    padding: 0;
    height: 49px;
    z-index: 100;
}
.footer .footer-button {
    display: block;
    width: 20%;
    margin: 0;
    float: left;
    height: 100%;
    line-height: 49px;
    text-align: center;
    border-top: 1px solid #000000;
}
/* bootom bar selected item */
.footer .footer-button.selected {
    background: #bababa;
}
.footer .footer-button img{
    height: 100%;
}


.main-content {
    padding-top: 64px;
    padding-bottom: 49px;
}


/* 1A */
.main-content .content-choose {
    height: 35px;
    background: white;
    line-height: 35px;
    width: 100%;
    border-bottom: 1px solid #efefef;
    position: fixed;
    top: 64px;
}

/* 1A category selected tab */
.main-content .content-choose .selected {
    background: #bababa;
}
.main-content .content-choose #jingxuan {
    text-align: center;
    width: 50%;
    float: left;
    border-right: 1px solid #efefef;
}
.main-content .content-choose #guanzhu {
    text-align: center;
    width: 50%;
    float: left;
}

/* 1A posts */
.main-content .posts {
    padding-top: 35px;
}
.main-content .posts .post {
    border-top: 1px solid #000000;
}
.main-content .posts .post .status {
    height: 30px;
    padding-top: 5px;
}
.main-content .posts .post .status img {
    height: 30px;
}
.main-content .posts .post .status .location {
    text-align: center;
    float: left;
    height: 30px;
    width: 33%;
}
.main-content .posts .post .status .poster {
    text-align: center;
    float: left;
    height: 30px;
    width: 33%;
}
.main-content .posts .post .status .time {
    text-align: center;
    float: left;
    height: 30px;
    width: 33%;
}
.main-content .posts .post .post-content {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.main-content .posts .post .post-content .post-img {
    width: 100%;
}
.main-content .posts .post .post-content .post-tag {
    height: 20px;
}
.main-content .posts .post .post-content .post-tag img {
    height: 100%;
}
.main-content .posts .post .post-content .post-text {
    width: 98%;
    margin: 0 auto;
}
.main-content .posts .post .post-content .post-text img {
    width: 100%;
}
.main-content .posts .post .detail {
    height: 22px;
    background-color: white;
}
.main-content .posts .post .detail img {
    height: 20px;
}
.main-content .posts .post .detail:after {
    clear: both;
}
.main-content .posts .post .detail .share {
    float: left;
    margin-left: 5px;
}
.main-content .posts .post .detail .comment {
    float: left;
}
.main-content .posts .post .detail .like {
    float: right;
    margin-right: 5px;
}
.share-mask-bg {
    position: fixed;
    top: 64px;
    left: 0px;
    background: url("../img/1C/bg.png");
    z-index: 4;
}
.share-pannel {
    background-color: white;
    position: fixed;
    bottom: 49px;
    z-index: 5;
    width: 100%;
}
.share-pannel .share-options {
    width: 100%;
}
.share-pannel .share-options .row {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}
.share-pannel .share-options .share-option {
    text-align: center;
    height: 60px;
}
.share-pannel .share-options .share-option img {
    height: 100%;
}
.share-pannel .row {
    width: 100%;
    margin: 0 auto;
}
.share-pannel .row .cancel-button {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
}


/* 1B */
.main-content .limited {

}

.main-content .limited .main-image {
    width: 100%;
}

.main-content .limited .images {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 !important;
}

.main-content .limited .images .image {
    width: 33.333333333%;
    float: left;
    padding-left: 3px;
    padding-right: 3px;
}

/* 1C */
.main-content#add {
    background: url("../img/1C/bg.png");
}
.main-content .add-button {
    height: 140px;
    width: 140px;
    text-align: center;
    margin: 0 auto;
}
.main-content .add-button#add-dapei {
    margin-top: 150px;
}
.main-content .add-button#add-guandian {
    margin-top: 40px;
}
.main-content .add-button img {
    height: 140px;
}

/* 1D */
.main-content .tag-bar {
    height: 30px;
}

.main-content .tag-bar .tag.selected {
    background: url(../img/shop_topics/tab.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; 
}

.main-content .tag-bar .tag {
    display: block;
    width: 14%;
    margin: 0;
    float: left;
    height: 100%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;

}

.main-content .shop-topics .shop-topic .topic-img {
    width: 100%;
}

/* 1E */
.main-content .name-pad {

}

.main-content .short-detail {

}

.main-content .short-detail .avatar {
    height: 50px;
    width: 50px;
    float: left;
    background: white;
}

.main-content .short-detail .detail-info {
    height: 50px;
    background: green;
}
.main-content .short-detail .detail-info .info-item {
    float: left;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
}

.main-content .dashboard {

}

.main-content .dashboard .group1 {
    margin-top: 10px;
    border-top: 1px solid #000000;
}
.main-content .dashboard .group2 {
    margin-top: 10px;
    border-top: 1px solid #000000;
}
.main-content .dashboard .group3 {
    margin-top: 10px;
    border-top: 1px solid #000000;
}
.main-content .dashboard .group4 {
    margin-top: 10px;
    border-top: 1px solid #000000;
    margin-bottom: 20px;
}

.main-content .dashboard .dashboard-item {
    background: #ebebeb;
    border-bottom: 1px solid #000000;
    height: 30px;
    line-height: 30px;
}

/* 2CA */
.guandian .action-buttons {
    width: 100%;
    clear: both;
    margin: 0;
}
.guandian .action-buttons .action-button {
    width: 50%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #000000;
}
.guandian .action-buttons .action-button#cancel {
    float: left;
    border-right: 1px solid #000000;
}
.guandian .action-buttons .action-button#send {
    float: right;
}
.guandian .input-form {
    clear: both;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.guandian .input-area {
    border: 1px solid #000000;
    border-radius: 5px;
    resize: none;
    width: 98%;
    height: 200px;
}
.guandian .input-area {
    outline: none;
}
.tool-bar {
    border-bottom: 1px solid #000000;
    margin: 0;
}
.tool-bar .tool-item {
    text-align: center;
    height: 25px;
}
.tool-bar .tool-item img {
    height: 100%;
}