body {
    margin: 0px;
}


/* header */
.header {
    background: white;
    height: 64px;
    padding-top: 20px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #efefef;
    z-index: 100;
}
.header .header-title {
    line-height: 44px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.header .header-title#common-title {
    font-size: 23px;
}
.header .header-title form {
    width: 200px;
}
.header .header-title input {
    height: 30px;
    line-height: 28px;
    padding: 0;
    border: 1px solid #000000;
    padding-left: 8px;
    border-radius: 15px;
    width: 160px;
    margin-right: 10px;
}
.header .header-title input:focus {
    outline: none;
}
.header .header-left {
    line-height: 44px;
    width: 44px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    text-align: center;
}
.header .header-left .icon {
    height: 24px;
}
.header .header-right {
    line-height: 44px;
    width: 44px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    text-align: center;
}
.header .header-right .icon {
    height: 24px;
}


/* footer */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    padding: 0;
    height: 49px;
    z-index: 100;
}
.footer .footer-button {
    display: block;
    width: 20%;
    margin: 0;
    float: left;
    height: 100%;
    line-height: 49px;
    text-align: center;
    border-top: 1px solid #000000;
}
/* bootom bar selected item */
.footer .footer-button.selected {
    background: #bababa;
}
.footer .footer-button img{
    height: 100%;
}


.main-content {
    padding-top: 64px;
    padding-bottom: 49px;
}


/* 1A */
.main-content .content-choose {
    height: 35px;
    background: white;
    line-height: 35px;
    width: 100%;
    border-bottom: 1px solid #000000;
    position: fixed;
    top: 64px;
}

/* 1A category selected tab */
.main-content .content-choose .selected {
    background: #bababa;
    height: 34px;
}
.main-content .content-choose #jingxuan {
    text-align: center;
    width: 50%;
    float: left;
    border-right: 1px solid #efefef;
}
.main-content .content-choose #guanzhu {
    text-align: center;
    width: 50%;
    float: left;
}

/* 1A posts */
.main-content .posts {
    padding-top: 35px;
}
.main-content .posts .post {
    border-bottom: 1px solid #000000;
}
.main-content .posts .post .status {
    height: 30px;
    padding-top: 5px;
}
.main-content .posts .post .status img {
    height: 30px;
}
.main-content .posts .post .status .location {
    text-align: center;
    float: left;
    height: 30px;
    width: 33%;
}
.main-content .posts .post .status .poster {
    text-align: center;
    float: left;
    height: 30px;
    width: 33%;
}
.main-content .posts .post .status .time {
    text-align: center;
    float: left;
    height: 30px;
    width: 33%;
}
.main-content .posts .post .post-content {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.main-content .posts .post .post-content .post-img {
    width: 100%;
}
.main-content .posts .post .post-content .post-tag {
    height: 20px;
}
.main-content .posts .post .post-content .post-tag img {
    height: 100%;
}
.main-content .posts .post .post-content .post-text {
    width: 98%;
    margin: 0 auto;
}
.main-content .posts .post .post-content .post-text img {
    width: 100%;
}
.main-content .posts .post .detail {
    height: 22px;
    background-color: white;
}
.main-content .posts .post .detail img {
    height: 20px;
}
.main-content .posts .post .detail:after {
    clear: both;
}
.main-content .posts .post .detail .share {
    float: left;
    margin-left: 5px;
}
.main-content .posts .post .detail .comment {
    float: left;
}
.main-content .posts .post .detail .like {
    float: right;
    margin-right: 5px;
}
.share-mask-bg {
    position: fixed;
    top: 64px;
    left: 0px;
    background: url("../img/1C/bg.png");
    z-index: 20;
}
.share-pannel {
    background-color: white;
    position: fixed;
    bottom: 49px;
    z-index: 21;
    width: 100%;
}
.share-pannel .share-options {
    width: 100%;
}
.share-pannel .share-options .row {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}
.share-pannel .share-options .share-option {
    text-align: center;
    height: 60px;
}
.share-pannel .share-options .share-option img {
    height: 100%;
}
.share-pannel .row {
    width: 100%;
    margin: 0 auto;
}
.share-pannel .row .cancel-button {
    padding-top: 20px;
    width: 100%;
    height: 55px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
}


/* 1B */
.main-content .limited {

}

.main-content .limited .main-image {
    width: 100%;
}

.main-content .limited .images {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 !important;
}

.main-content .limited .images .image {
    width: 33.333333333%;
    float: left;
    padding-left: 3px;
    padding-right: 3px;
}

/* 1C */
.main-content#add {
    background: url("../img/1C/bg.png");
}
.main-content .add-button {
    height: 140px;
    width: 140px;
    text-align: center;
    margin: 0 auto;
}
.main-content .add-button#add-dapei {
    margin-top: 150px;
}
.main-content .add-button#add-guandian {
    margin-top: 40px;
}
.main-content .add-button img {
    height: 140px;
}

/* 1D */
.main-content .tag-bar {
    height: 30px;
}

.main-content .tag-bar .tag.selected {
    background: url(../img/shop_topics/tab.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; 
}

.main-content .tag-bar .tag {
    display: block;
    width: 14%;
    margin: 0;
    float: left;
    height: 100%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;

}

.main-content .shop-topics .shop-topic .topic-img {
    width: 100%;
}

/* 1E */
.main-content.profile {
    background: url(../img/1E/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-content.profile .short-detail {
    padding-top: 10px;
}

.main-content.profile .short-detail .avatar {
    height: 70px;
    width: 70px;
    float: left;
}
.main-content.profile .short-detail .avatar img {
    width: 100%;
}

.main-content.profile .short-detail .detail-info {
    padding-left: 80px;
    padding-right: 10px;
    height: 70px;
}
.main-content.profile .short-detail .detail-info .user-title {
    height: 20px;
    line-height: 20px;
    width: 25%;
    text-align: center;
    color: #000000;
    margin-bottom: 5px;
}
.main-content.profile .short-detail .detail-info .info-items {
    background: url(../img/1E/detail-info-bg.png);
    background-size: 84% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 58% 50%;
}
.main-content.profile .short-detail .detail-info .info-items::after {
    clear: both;
}
.main-content.profile .short-detail .detail-info .info-items .info-item {
    float: left;
    height: 40px;
    line-height: 20px;
    color: #000000;
    width: 25%;
    text-align: center;
}

.main-content.profile .dashboard {
    width: 80%;
    margin: 0 auto;
    clear: both;
    margin-top: 10px;
}
.main-content.profile .dashboard .dashboard-item {
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    clear: both;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main-content.profile .dashboard .dashboard-item.left {
    background: url(../img/1E/left.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left 50%;
    margin-left: 40px;
}
.main-content.profile .dashboard .dashboard-item.right {
    background: url(../img/1E/right.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right 50%;
    margin-right: 40px;
}
.main-content.profile .dashboard .dashboard-item.left img {
    float: left;
    margin-left: -40px;
}
.main-content.profile .dashboard .dashboard-item.right img {
    float: right;
    margin-right: -40px;
}
.main-content.profile .dashboard .dashboard-item img {
    height: 40px;
    margin-top: -1px;
}

/* 2CA */
.guandian {
    padding-top: 20px;
}
.guandian .action-buttons {
    width: 100%;
    clear: both;
    margin: 0;
}
.guandian .action-buttons .action-button {
    width: 50%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
.guandian .action-buttons .action-button#cancel {
    float: left;
    border-right: 1px solid #000000;
}
.guandian .action-buttons .action-button#send {
    float: right;
}
.guandian .input-form {
    clear: both;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.guandian .input-area {
    border: 1px solid #000000;
    border-radius: 5px;
    resize: none;
    width: 98%;
    height: 200px;
}
.guandian .input-area {
    outline: none;
}
.tool-bar1 {
    margin: 0;
}
.tool-bar1 .tool-item {
    text-align: center;
    height: 25px;
}
.tool-bar1 .tool-item img {
    height: 100%;
}
.tool-bar2 {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 0;
    margin-top: 43px;
}
.tool-bar2 .tool-item {
    text-align: center;
    height: 25px;
}
.tool-bar2 .tool-item img {
    height: 100%;
}
/* 2CB */
.dapei {
    padding-top: 20px;
}
.dapei .action-buttons {
    width: 100%;
    clear: both;
    margin: 0;
}
.dapei .action-buttons .action-button {
    width: 50%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
.dapei .action-buttons .action-button#cancel {
    float: left;
    border-right: 1px solid #000000;
}
.dapei .action-buttons .action-button#send {
    float: right;
}
.dapei .canvas {

}
.dapei .canvas .add-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.dapei .canvas .add-button img {
    height: 100%;
}


/* 2AB */
.main-content .content-intro {
    margin: 0px !important;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    height: 62px;
}

.main-content .content-intro #intro-a {
    float: left;
    width: 60%;
    height: 60px;
}

.main-content .content-intro #intro-a .image {
    height: 100%;
}

.main-content .content-intro #intro-b {
    float: left;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.main-content .content-intro #intro-b .image {
    height: 25px;
}

.main-content .content-intro #intro-c {
    float: left;
    width: 20%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.main-content .comment-list .image {
    width: 100%;
}

.main-content .comment-list.lists {
    border-bottom: 1px solid #EFEFEF;
}

.main-content .comment-number {
    height: 24px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.main-content .comment-number .image {
    height: 20px;
}

/* 2BB */

.main-content .tag-select {
    border-bottom: 1px solid black;
    height: 30px;
    margin: 0 !important;
    position: fixed;
    width: 100%;
    background: white;
}

.main-content .tag-select .tag.selected {
    background: #bababa;
    height: 29px;
}


.main-content .tag-select .tag {
    float: left;
    width: 33.333333333%;
    line-height: 30px;
    text-align: center;
}

.main-content .tag-contents {
    margin: 0 !important;
}

.main-content .tag-contents .left {
    float: left;
    width: 49%;
    margin-right: 2%;
    text-align: center;
}
.main-content .tag-contents .right {
    float: left;
    width: 49%;
    text-align: center;
}
.main-content .tag-contents .image {
    width: 100%;
}

.main-content .tag-contents .price {
    border: 1px solid #efefef;
}

.main-content .tag-contents .price .icon {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 35%;
}
/* 4AC */
.main-content.comments-page {
    width: 100%;
    padding-bottom: 89px;
}
.main-content.comments-page .comments {

}
.main-content.comments-page .comments img {
    width: 100%;
}
.main-content.comments-page .comment-input .input-form  {
    width: 100%;
    height: 37px;
    background: #f1f1f1;
    padding-left: 15px;
    padding-right: 15px;
}
.main-content.comments-page .comment-input .input-form .input-field {
    width: 87%;
    height: 100%;
    margin-top: 6px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding-left: 5px;
}
.main-content.comments-page .comment-input .input-form .input-field:focus {
    outline: none;
}
.main-content.comments-page .comment-input .input-form .input-submit {
    width: 10%;
    float: right;
    height: 25px;
    margin-top: 6px;
    background: #42AD36;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
}


/* 4ABB */


/* 4ABC */

/* 2DC */
.main-content.brands {
    padding-top: 64px;
    padding-bottom: 49px;
}
.main-content.brands .list-nav {
    margin-top: 15px;
    position: fixed;
    right: 20px;
    width: 30px;
    border-radius: 15px;
    background: #ebebeb;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
}
.main-content.brands .list-nav li {
    float: left;
    width: 30px;
    text-align: center;
    font-size: 14px;
}
.main-content.brands .brand-list {
    list-style: none;
}
