
/* 商品页 */

#myCarousel:after {                   
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    display: block;
    content: "";
    height: 13%;
    width: 100%;
    background: url(../img/3AA/5.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.images {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 !important;
}

.images .image {
    width: 25%;
    float: left;
    padding-left: 3px;
    padding-right: 3px;
}

.sell-progress {
    width: 100%;
}

.buy-choices .choices {
    float: left;
    width: 70%;
}

.buy-choices .options {
    float: left;
    width: 30%;
    text-align: center;
}

.buy-choices .options .image {
    padding-top: 8%;
    width: 70%;
}

#tags {
    position: absolute;
    top: 74px;
    height: 40px;
    width: 100%;
}


/* buy pennel setting 8*/
.buy-mask-bg {
    position: fixed;
    top: 64px;
    left: 0px;
    background: url("../img/1C/bg.png");
    z-index: 16;
}

.buy-pannel {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 20;
}

.buy-pannel .left {
    padding: 8px;
    padding-left: 20px !important;
    width: 50%;
}
.buy-pannel .right {
    padding-right: 20px !important;
    text-align: right;
}

.center {
    text-align: center;
}


table {
    margin:0px !important;
}


